// fonts
$arial: Arial, sans-serif;
$font_base: "Roboto", "Helvetica", $arial;
$fontSize: 16;

// grid
$containerPadding: 15px;
$container: 1440px + $containerPadding*2; // That's where fluid becomes fixed
$base-v-margin: 20px; // The mother of all margins. Usually = base line height
$base-vertical-margin: 30;
$fa-img-path: "img";
$line-height-base: 1em;

// media
$media_desktop: "screen and (min-width: 1024px)"; // 1024-∞
$media_tablet: "screen and (max-width: 1023px)"; // 768-1024
$media_phone-landscape: "screen and (max-width: 767px)"; // 480-767 (large phones included, ipad vertical - not)
$media_phone: "screen and (max-width: 479px)"; // 320-479 (iphone 4 landscape not included)
$media_retina: "screen and (min-device-pixel-ratio: 1.5), screen and (-webkit-min-device-pixel-ratio: 1.5)";
$retina: "min-resolution: 1.5dppx";

// custom color
$c_purple: #a675f2;
$c_red: #ff4167;

// colors
$color_base: #333333;
$color_second: #666666;
$color_third: #666666;
$color_accent: #f46464;
$blue: #64a8f4;
$red: #f46464;
$green: #5fbc63;
$orange: #f4933d;
$fuchsia: #a675f2;
$base-border-radius: 4px;
