//---- Add vendor ----//
- var vendorScripts = [];
- var vendorStyles = [];

- vendorScripts.push(['//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js']);
// - vendorScripts.push(['js/vendor/imask.js', 'defer']);
//- vendorScripts.push(['js/vendor/swiper.min.js']);

//- vendorStyles.push('css/vendor/swiper.min.css');