//---- Add vendor ----//
- var vendorScripts = [];
- var vendorStyles = [];

//- vendorScripts.push('//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js');
//- vendorScripts.push('js/vendor/retina.min.js');


//- vendorStyles.push('css/vendor/swiper.min.css');