extends main/page_default

block head
	title Все страницы

block beforeBody
	-bodyClasses.push('not-front')

block header

block content

	.container

		br
		br
		br
		br
		ol
			li: a(href="front.html") Главная

block footer