html {
	box-sizing: border-box;
}

body {
	font-family: $base-font;
	color: $base-text-color;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

//<editor-fold desc="Section">

//</editor-fold>

